@import url(reset.css);

.header {
  width: auto;
  height: auto;
}

.header .gnb {
  width: 1200px;
  height: auto;
  border: 1px solid #000000;
}

.header .gnb .logo {
  width: 200px;
  height: 80px;
  border: 1px solid #000000;
  display: block;
}

.header .gnb img {
  width: 80px;
  height: 80px;

}